.center-text {
	height: 100%;
	width: 100%;
	text-align: center;
}

.required::after {
	content: "*";
	padding-left: 1%;
}

.form-control {
	width: 97%;
	float: left;
}

.state-icon {
	left: -5px;
}

.list-group-item-primary {
	color: rgb(255, 255, 255);
	background-color: rgb(66, 139, 202);
}

body {
	padding-top: 50px
}

.fdadi-template {
	padding: 40px 15px;
}