/** .navbar-brand {
	margin: 0;
	padding: 0;
} **/

/**
.navbar-brand
{
    position: absolute;
    width: 100%;
    left: 10;
    top: 0;
    text-align: center;
    margin: auto;
}
**/

.navbar-brand img {
	max-height: 100%;
}

.required::after {
	content: "*";
	padding-left: 1%;
}

.state-icon {
	left: -5px;
}

.list-group-item-primary {
	color: rgb(255, 255, 255);
	background-color: rgb(66, 139, 202);
}

body {
	padding-top: 50px
}

.fdadi-template {
	padding: 40px 15px;
}

.loginButton {
	width: 80px;
	margin-right: 15px;
}

.loginDiv {
	margin: 0 auto !important;
	max-width: 700px !important;
}